* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --WhiteFont: white;
    --PicturesBackground: #cccccc;
    --FooterBackground: #666666;
    --Icons: white;
    --IconsHover: lightgray;
}